{% extends "nav.html"%}

{%block extends%}
<div class = "body">
<h2 class = "dash-header"> Recruiter Dashboard </h2>

</div>
<h3 class = "dash-header"> Job Listings: </h3>
<table id="table">
        <tr>
          <th>Title</th>
          <th>Date Posted</th>
          <th> View Applicants</th>
          <th>Update or Delete</th>
        </tr>
        <tr>
                {%for listing in jobs%}
                <tr>
                    <td> {{listing.title}}</td>
                    <td> {{listing.date_published}}<td> 
                    <span><a href = {% url 'applicants' listing.id %}> View</span>
                     <td>
                        <button> <a href= {%url 'delete' listing.id %}>Delete</button>
                        <button> <a href= {%url 'update' listing.id%}>Edit</button>
                   </td> 
                 </tr>
             {% endfor%}     
         
        </tr>


{%endblock extends%}